<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <style>
    /* Custom CSS to center the container */
    body, html {
      height: 100%;
    } 
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container {
      width: 500px; /* Adjust the width as per your requirement */
    }
    
  </style>
</head>
<body>
  <div class="container">
    <h1 style="color:red">Login Please ...</h1>
    <form class="col-7" th:action="@{/userLogin}" th:object="${user}" method="post">
     <label><h6>User Id</h6></label>
      <input type="text" class="form-control" th:field="*{userId}">
      <label><h6>Password</h6></label>
      <input type="password" class="form-control" th:field="*{password}">
      <br>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</body>
</html>
